/*

	Main SCSS file that you use to import all the separate modules and then compile them to the css file
	----------------------------------------------------------------------------------------------------
	
	Om alle SCSS te compilen naar de main.css moet je in je Terminal deze code invoegen:
	
	1. 	Ga eerst naar de main folder "Lars-portfolio"
	
	2. 	Typ dan: sass --watch scss/main.scss:css/main.css
	
		Door deze command kijkt SASS naar veranderingen in de scss folder, 
		zodra je een aanpassing maakt aan een file die ge-Import is in de "main.scss" wordt het meteen gecompiled naar de main.css folder.

*/
/**************************************************

	In this file we place all the Variables ;)

**************************************************/
p, h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: "Oxygen", sans-serif; }

a {
  font-family: "Oxygen", sans-serif; }

.Nav-wrap {
  border-bottom: 1px solid #F1F2F2;
  overflow: hidden; }
  .Nav-wrap a {
    outline: 0; }

.Logo-wrap {
  padding: 20px 15px 15px;
  display: inline-block; }
  .Logo-wrap:hover {
    cursor: pointer; }
  .Logo-wrap:focus, .Logo-wrap:active {
    outline: none; }
  .Logo-wrap .Logo-word {
    position: relative;
    padding-left: 20px; }
  .Logo-wrap p, .Logo-wrap a {
    color: #163F57;
    font-size: 22px;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    display: inline; }
  .Logo-wrap .bottombar {
    position: absolute;
    top: 27px;
    left: 21px;
    height: 4px;
    width: 25px;
    background-color: #163F57;
    -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .Logo-wrap .sidebar {
    position: absolute;
    top: 0px;
    left: 14px;
    height: 31px;
    width: 4px;
    background-color: #163F57; }
  .Logo-wrap .rightbar {
    position: absolute;
    top: 0px;
    left: 147px;
    height: 31px;
    width: 4px;
    background-color: #163F57; }
  .Logo-wrap .topbar {
    position: absolute;
    top: 0px;
    left: 17px;
    height: 4px;
    width: 134px;
    background-color: #163F57; }

.Logo-wrap.hover .bottombar.move {
  left: 118px; }

.Logo-wrap.clicked .bottombar.move-back {
  left: 21px; }

.Nav-menu {
  display: block;
  float: right; }
  .Nav-menu ul.menu {
    padding: 2px 10px 0;
    position: relative; }
    .Nav-menu ul.menu li {
      display: inline-block;
      position: relative;
      z-index: 130;
      margin-top: 20px;
      padding: 0 5px; }
      .Nav-menu ul.menu li a {
        color: #163F57;
        font-size: 18px;
        font-family: "Oxygen", sans-serif;
        font-weight: 600;
        padding: 5px 5px 19px;
        border-bottom: 4px solid #163F57;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease; }
        .Nav-menu ul.menu li a:hover {
          text-decoration: none;
          padding-bottom: 15px; }

.Header-wrap {
  min-height: 300px;
  background-color: #F1F2F2; }

html, body {
  height: 100%; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; }

.page-wrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px; }

.site-footer {
  background: #F1F2F2; }

/*# sourceMappingURL=main.css.map */
