//--------------------
// 	  page-wrap 
//--------------------
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px; 
  background-color: $grey-bg2;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after { 
  /* .push must be the same height as footer */
  height: 70px; 
}
.site-footer {
  background: white;
  border-top: 1px solid $grey-bg;
}

//--------------------


