.Header-wrap {
	background-color: $grey-bg;

	.Profile-wrap {
		width: 250px;
		height: 200px;
		background-color: white;
		margin: 40px auto;
		padding: 20px;

		.Profile-img {
			width: 210px;
			margin: 0 auto;
			background-color: $blue;
			height: 130px;
			box-sizing: border-box;
			position: relative;
		}

		.img-centering-wrap {
			margin: 0 auto;
			width: 50px;
		}
		.img-profile.animation-target {
			border-radius: 100px;
			width: 50px;
			height: 50px;
			background-color: white;
			position: absolute;
			bottom: -50px;
			
			overflow: hidden;

		}
	}
}