.Header-wrap {
	background-color: $grey-bg;

	.Profile-img-wrap {
		position: relative;
		width: 156px;
		height: 156px;
		background-color: white;
		margin: 40px auto 20px;
		padding: 13px;
		border-radius: 100px;
		z-index: 100;

		.Profile-img-a {
			display: block;
			border-radius: 100px;
		}
		.Profile-img {
			width: 130px;
			height: 130px;
			margin: 0 auto;
			background-color: $blue;
			border-radius: 100px;
			box-sizing: border-box;
			position: relative;
			overflow: hidden;
		}

		.img-centering-wrap {
			margin: 0 auto;
			width: 50px;
		}
		.img-profile.animation-target {
			border-radius: 100px;
			width: 50px;
			height: 50px;
			background-color: #EDC297;
			position: absolute;
			bottom: -50px;

		}
	}// Profile-img-wrap

	.Profile-text-wrap.left {
		margin-right: 0;
	}
	.Profile-text-wrap.right {
		margin-left: 0;
	}
	
	.Profile-text-wrap {
		display: block;
		margin: 20px auto 40px;
		width: 300px;

		.Profile-text {
			background-color: white;
			padding: 20px;

			p,span {
				letter-spacing: 0.5px;
				font-size: 16px;
			}
			span {
				font-weight: 600;
				font-size: 20px;
				display: inline-block;
				padding-bottom: 5px;
			}
		}
	}
}

#cheers-wrap {
	.cheers-ballon {
		background-color: white;
		width: 120px;
		height: 55px;
		position: absolute;
		z-index: 90;
		left: 150px;
		top: 25px;
		border-radius: 20px 20px 20px 0px;
		padding: 12px 0 0 16px;
		opacity: 0;

		-webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
		-moz-transition:all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
		-o-transition:all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
		
		p {
			font-size: 22px;
			font-weight: 600;
		}
	}
}

#cheers-wrap.popOut {
	.cheers-ballon {
		position: absolute;
		left: 175px;
		top: 0;
		border-radius: 20px 20px 20px 0px;
		padding: 12px 0 0 16px;
		opacity: 1;
		
		p {
			font-size: 22px;
			font-weight: 600;
		}
	}
}

#WhoIAm-popUp,#WhatIDo-popUp {
	.cheers-ballon {
		background-color: white;
		position: absolute;
		padding: 12px 0 0 16px;
		opacity: 0;
		z-index: 90;

		-webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
		-moz-transition:all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
		-o-transition:all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
		
		p {
			font-size: 20px;
			font-weight: 600;
		}
	}
}

#WhoIAm-popUp .cheers-ballon {
		width: 230px;
		height: 55px;
		top: 0px;
		left: -210px;
		border-radius: 20px 20px 0px 20px;
}

#WhatIDo-popUp .cheers-ballon {
		width: 195px;
		height: 55px;
		top: 105px;
		left: 135px;
		border-radius: 0px 20px 20px 20px;
}


#WhoIAm-popUp.activate {
	.cheers-ballon {
		opacity: 1;
		top: -20px;
		left: -230px;
	}
}

#WhatIDo-popUp.activate {
	.cheers-ballon {
		opacity: 1;
		top: 125px;
		left: 155px;
	}
}