/**************************************************

	In this file we place all the Variables ;)

**************************************************/

// Fonts
$font: 'Oxygen', sans-serif;
//-----------------------------


// Colors
$black: 		#4a4a4c;
$blue: 			#163F57;
$blue-dark:		#232C31;
$bright-green:	#00D9B7;
$red-light:		#F65A5B;

$grey-bg:		#F1F2F2;
//----------------------


// Settings

p,h1,h2,h3,h4,h5,h6 {
	color: black;
	font-family: $font;
}

a {
	font-family: $font;
}

